@use 'variables';

.Card {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #ff6060, #c74b4b);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .Card__Content {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 40px 20px;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.5));
            z-index: 1; 
            pointer-events: none; 
        }

        .Card__Title {
            width: 100%;
            color: white;
            font-weight: 700;
            font-size: 1vw;
            z-index: 2;
        }

        .Card__Cover{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
            
        }
    }

    @media (max-width: 1024px) {
      

        .Card__Content {
            padding: 30px 15px;

            
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        height: auto;
        aspect-ratio : 1 / 1;

        .Card__Content {
            padding: 20px 10px;

            .Card__Title {
                width: 100%;
                text-align: start;
                font-size: 3vw; 
            }
        }
    }
}