.Footer{
    background-color: black;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .Footer__Logo{
        padding-top: 40px;
        width: 120px;
        height: auto;
    }
    .Footer__mentions{
        color: white;
    }

    @media (max-width: 1024px) {
        height: 30vw;
       .Footer__Logo{
        width: 20vw;
        height: 7vw;
       }

       .Footer__mentions{
        font-size: 3vw;
       }
    }

    @media (max-width: 768px) {
        
    }
}