.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__logo{
        width: 200px;
        height: 60px;
    }

    @media (max-width: 1024px) {
        &__logo{
            width: 20vw;
            height: 7vw;
        }
    }

    @media (max-width: 768px) {
        
        
    }
}