@use 'variables';

.NavBar{
    
    ul {
        list-style-type : none;
        display: flex;
        gap: 50px;
        
        
        a {
            text-decoration: none;
            font-weight: 500;
            font-size: variables.$base-font-size;
            color: black;
        }

        .active {
            text-decoration: underline;
            
          }

        @media (max-width: 1024px) {
       
        }
    
        @media (max-width: 768px) {
            gap: 10vw;
            a{
                font-size:3vw;
            }

        }
    }
}
