$primary-color: #FF6060;
$secondary-color: #F6F6F6;
$third-color : #fbfbfb;
$fourth-color:#C4C4C4;

$small-font-size : 14px;
$base-font-size: 20px;
$medium-font-size : 28px;
$title-font-size : 36px;
$Big-font-size: 48px;
$Giant-font-size : 240px;

